@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, IBM Power Customer!</h1>

Welcome to your new .Net Blazor app.

<SurveyPrompt Title="How is Blazor working for you, on IBM Power Systems?" />

<Counter IncrementAmount="10" />