@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, IBM Power Customer!</h1>

Welcome to your new .Net Blazor app.
This is intended to be a simple demo of .Net Blazor deployment and execution on IBM Power Systems with OpenShift
<SurveyPrompt Title="How is Blazor working for you, on IBM Power Systems?" />
Please specify how many Power E1080 Server you would like to order and run DotNet on Power this month :-)
<Counter IncrementAmount="10" />